<!--Home icon-->
<a class="nav-item" href="<%= dashboard_path %>"> 
  <i class="fa-solid fa-house fa-2x icon"></i>
</a>
<!--New post icon-->
<a class="nav-item" href="<%= new_post_path %>"> 
  <i class="fa-regular fa-square-plus fa-2x icon"></i>
</a>
<!--Profile icon-->
<a class="nav-item" href="<%= profile_path(current_account.username) %>"> 
  <i class="fa fa-circle-user fa-2x icon"></i>
</a>
<!--Sign out icon-->
<a class="nav-item" href="<%= destroy_account_session_path %>" data-method="delete">
  <i class="fa fa-sign-out fa-2x icon"></i>
</a>
